.footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 23%, rgb(5, 130, 214) 100%, rgba(0,212,255,1) 100%);
}

.color-enlace{
    color: white 
}

.jumbotron{
    background-image: url("../img/image1.jpg");
    background-size:cover;
    color:white;
}



